<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <title>InVisionApp Challenge</title>                
    </head>

    <body>
        <%= include partials/_nav.html %>
        <div id="main" class="active-modal">
            <%= include partials/_home.html %>
        </div>
        <%= include partials/_modal-create.html %>
    </body>

    <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</html>
